extends layout

block content
  h1= title
  p Bienvenido a la pagina de evaluar empresas #{title}
  p Usted puede elegir si añade una empresa o la elimina
  button Añadir empresa
  button Borrar empresa
